/* affichage banniere */
* {
    margin: 0;
}
img {
    margin: 20px;
    height: 280px;
    border-radius: 100%;
}
.banniere {
    background-color: rgb(62, 92, 75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    justify-items: center;    
    color: rgb(212, 211, 211);
}
.contact {
    display: flex;
    justify-items: center;
    justify-content: center;
    flex-direction: column;   
    margin : 10px;
    font-size: 30px;
}
.text {
    display: flex;
    padding: 65px;
    justify-content: space-around;
    flex-direction: column;
    font-size: 1.2em;
}
li {
    list-style-type: none;
}
#blinked{
    font-size: 1.5em;
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.presentation {
    font-size: 1.7em;
    margin-top: 0px;
    width: 20%;
    color: rgb(62, 92, 75);
    background-color:rgb(212, 211, 211);
    text-align: center;  
}
.presentation:first-child {
    padding: 25px;
}
.section_corps {
    display: flex;
    flex-direction: row;
    background-color:rgb(212, 211, 211);
}
a {
    color: #f66c6c;
}
.chrono {
    display: flex;
    flex-wrap: wrap;
}
.step {
    margin: 5px;
    width: 100%;
    margin-right: 0px;
}
.chrono {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    background-color:rgb(212, 211, 211);;
}
.formation {
    padding: 10px; 
    display: flex;
    flex-direction: row;  
    background-color:rgb(62, 92, 75);
    color: rgb(212, 211, 211);;
}
.experience {
    padding: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;  
    background-color:rgb(62, 92, 75);
    color: rgb(212, 211, 211);;
}
#description {
    display: flex;
    padding-left: 10px;
}